@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
    user-select: none;
}


a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

.nav-item:hover {
  transform: scale(1.05);
  transition: 10ms ease;
  text-shadow: 0 0 5px #fff;

}

.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}       

.hero-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
 }

.btn {
  border-radius: 0;
  transition: all 0.5s linear;
}

.btn:hover {
    border-radius: 0;
    scale: 1;
}

.btn i {
    margin-right: 5px;
}

.btn::after{
    content: '';
    background: #00386c;
    width: 0;
    height: 100%;
    position: absolute;
    inset: 0;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: -1; 
    border: 1px solid #00386c;      
}

.btn:hover::after {
    width: 100%;
}

.container{
  max-width: 1500px;
  margin-bottom: 50px;
}


.category{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 0;
}

.category a {
text-decoration: none;
color: #333;
font-weight: bold;
}

.category a:hover {
text-decoration: underline;
color: #000;
}

.card img {
width: 100%;
height: 600px;
object-fit: cover;
}
footer {
    background: #1f1f2b;
    padding: 10px;      
    box-shadow: #000 2px 2px 10px 0px; 
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
  }

  .footer-column {
    flex: 1;
    margin-right: 20px;
    padding-left: 40px;  
  }

  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    border-bottom: #777 solid 2px;
    margin-top: 30px;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;  
  }

  .footer-column li,
  .footer-column a{
    margin-bottom: 8px;
    color: #fff;
  }    
  
  .footer-column li:hover,
  .footer-column a:hover {
    text-decoration: underline;
    color: #fff;
  }

  .footer-column a {
    text-decoration: none;
    color: #fff;
  }

  .footer-column .social-icons {
    font-size: 20px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .copyright {
    border-top: #777 solid 2px;
    padding-top: 20px;
    margin-top: 20px;
    width: 96%;
  }

  #testimonials{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #5a5a5a;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 

    